# WhatsApp Bot Configuration
# Owner Number (dengan kode negara)
OWNER_NUMBER=62xxxxxxxxxx
# Gunakan Pairing Code (true/false)
USE_PAIRING_CODE=true
# Prefix Command
PREFIX=.
# Bot Name
BOT_NAME=EA-WBOT